<div class="panel panel-<%= check.success? ? "success" : "danger" %>">
  <div class="panel-heading">
    <h2 class="panel-title">
      <small class="pull-right">
      <% if check.success? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <% else %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
      </small>

      <%= t check.type %>
    </h2>
  </div>
  <% unless check.success? %>
  <div class="panel-body">
    <% if check.successes.any? %>
      <h3 class="sr-only">Passed</h3>
      <% check.successes.each do |c| %>
      <div class="alert alert-success alert-outline">
        <strong><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= c[:description] %></strong>
      </div>
      <% end %>
    <% end %>

    <h3 class="sr-only">Failures</h3>
    
    <% check.failures.each do |c| %>
      <div class="alert alert-danger alert-outline">
        <strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <%= c[:description] %></strong><br />
        <pre class="failure-exception"><%= c[:exception] %></pre>
        <% check.http_requests_by_test.find { |k, v| c[:description].include? k }.last.each do |k, request| %>
          <div class="request-box">
            <div class="request alert-info">
              <h4><%= k %> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></h4>
              <pre><%= request[:request][:headers] %></pre>
            </div>
            
            <div class="response alert-warning">
              <h4><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <%= request[:response][:status] %></h4>
              <pre><%= request[:response][:headers] %></pre>
              <pre class="http-log"><%= request[:response][:body] %></pre>
            </div>
          </div>
        <% end %>
      
      </div>
    <% end %>
  </div>
  <% end %>
</div>